{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100 mt-5">
    <div class="row">
        <div class="col-5 offset-1">
            <h1>New Releases:</h1>
        </div>
        <div class="col-5">
            <h1>Merch:</h1>
        </div>
    </div>
    <div class="row" id="bottom-row">
        <div class="col-5 offset-1">
            {% for music in new_releases %}
                <iframe class="music-embed w-100" src="{{ music.embed_code }}" frameborder="0"></iframe>
            {% endfor %}
        </div>
        <div class="col-5">
            <div class="row home-merch-row">
                {% for product in merch %}
                        <a class="thick-border" href="{% url 'product-details' product.id%}"><img class="merch-thumb" src="{{ product.image_url }}" alt=""></a>
                {% endfor %}
            </div>
            <div class="row home-merch-row">
                <a href="{% url 'products' %}" class="nav-link active" id="shop-link">
                    <img class="tape-link-img" src="{{ MEDIA_URL }}tape.png" alt="">
                    <p id="shop-link-text">Shop</p>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-spacer"></div>
</div>
</div>
{% endblock %}