{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="container header-container">
      <div class="row">
          <div class="col"></div>
      </div>
  </div>
{% endblock %}

{% block content %}
<div class="container h-100 mt-5">
  <div class="row">
      <div class="col-4 m-auto">
          <h1>New Releases:</h1>
          <!-- Bootstrap carousel for merch releases -->
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a href="" class="music-link"><img src="" alt="" class="album-thumb"></a>
                </div>
                <div class="carousel-item">
                  <a href="" class="music-link"><img src="" alt="" class="album-thumb"></a>
                </div>
                <div class="carousel-item">
                  <a href="" class="music-link"><img src="" alt="" class="album-thumb"></a>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-4 mx-auto">
        <h1>All products</h1>
        <div class="col-12">
          {% for product in products %}
            <a href="" class="product-link">
              <img class="product-link-image" src="{{ product.image.url }}" alt="">
            </a>
          {% endfor %}
        </div>
      </div>
  </div>
{% endblock %}