{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container h-100 mt-5">
        <div class="row">
            <div class="col-4 m-auto">
                <h1>New Releases:</h1>
                <!-- Bootstrap carousel for music releases -->
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <a href="" class="music-link"><img src="" alt="" class="product-thumb"></a>
                      </div>
                      <div class="carousel-item">
                        <a href="" class="music-link"><img src="" alt="" class="product-thumb"></a>
                      </div>
                      <div class="carousel-item">
                        <a href="" class="music-link"><img src="" alt="" class="product-thumb"></a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mx-auto">
                <h1>All products</h1>
                
            </div>
        </div>
    </div>
{% endblock %}